
// Split.js
.gutter {
	background-position: 50%;
	background-repeat: no-repeat;
	&.gutter-horizontal {
		cursor: ew-resize;
		float: left;
		height: 100%;
	}
	&.gutter-vertical {
		cursor: ns-resize;
	}
}
.split {
	-webkit-box-sizing: border-box;
	float: left;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
