.sidebar {
	background: @border-color;
	float: left;
	height: 100vh;
}

.sidebar__tree-view {
	background: @secondary-bg-color;
	height: 100vh;
}

.sidebar__files {
	display: flex;
	flex-direction: column;
	color: @text-color;
	text-align: center;
	padding: 0;
	list-style-type: none;
	font-family: @sans-serif;
	border: @border-color 1px solid;
	overflow-y: scroll;
	height: 100%;
	ul {
		background: #000;
		text-align: left;
		li {
			font-size: @small-font;
			display: inline;
			background: #000;
			& > div {
				background: #000;
			}
		}
	}
}

.sidebar__files {
	display: flex;
	flex-direction: column;
	color: @text-color;
	text-align: center;
	padding: 0;
	list-style-type: none;
	font-family: @sans-serif;
	border: @border-color 1px solid;
	overflow-y: scroll;
	height: 100%;
	ul {
		background: #000;
		text-align: left;
		li {
			font-size: @small-font;
			display: inline;
			background: #000;
			& > div {
				background: #000;
			}
		}
	}
}

.sidebar__search {
	display: flex;
	justify-content: center;
	align-items: center;
	height: @title-bar-height;
	border-bottom: @bg-color 1px solid;
	input {
		background: hsla(0,0%,100%,.05);
		box-shadow: inset 0 2px 1px 0 rgba(30,33,36,.15);
		border-radius: 4px;
		padding: .5rem 1rem;
		border: fade(@bg-color, 90) 1px solid;
		font-size: @small-font;
		color: @text-color;
		padding: 5px;
		font-family: @sans-serif;
		width: 80%;
	}
}

.sidebar__projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: @title-bar-height 0;
	margin: 0;
	background: @bg-color;
	float: left;
	height: 100vh;
	width: 78px;
}

.sidebar__project {
	margin-top: 1em;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: @sans-serif;
	&:hover {
		border: fade(#fff, 50%) 3px solid;
	}
	&--active {
		border-radius: 25%;
	}
	&--add {
		background: transparent;
		border: @text-color 1px dashed;
		color: @text-color;
		&:before {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50px;
		}
		&:hover {
			border: lighten(@text-color, 20) 1px solid;
			color: lighten(@text-color, 20);
		}
	}
}
