.terminal {
	background: @bg-color;
	color: @text-color;
	cursor: text;
	font-family: @monospace;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
	border: fade(@border-color, 40%) 1px solid;
	height: 100%;
	width: 100%;
	.fa.fa-long-arrow-up {
		color: @bg-color;
		float: right;
		&.active {
			color: @text-color;
		}
	}
	&--focused {
		border-color: @border-color;
		transition-duration: .1s;
	}
}

.terminal__msg {
	padding: 10px;
}

.terminal__line {
	background: @bg-color;
	box-sizing: border-box;
	font-weight: bold;
	height: 1.3em;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
	padding: 5px;
	width: 100%;
}

.terminal__status {
	color: black;
	margin-right: 10px;
	cursor: text;
}

.terminal__stdin {
	background: @bg-color;
	background: transparent;
	border: 0;
	box-sizing: border-box;
	color: @text-color;
	cursor: text;
	display: inline-block;
	font-family: "Fira Code", "Hack", "Meslo LG S for Powerline", "Menlo", monospace;
	font-size: 14px;
	height: 1.3em;
	outline: 0;
	padding-left: 5px;
	padding-right: 5px;
	padding: 5px;
	white-space: nowrap;
	width: 100%;
	width: 100%;
}

.terminal__label {
	color: lighten(@text-color, 5);
	cursor: text;
	font-weight: bold;
	margin-right: 10px;
}

.terminal__stdin {
	background: transparent;
	border: 0;
	color: @text-color;
	cursor: text;
	font-family: "Fira Code", "Hack", "Meslo LG S for Powerline", "Menlo", monospace;
	font-size: 14px;
	outline: 0;
	width: 100%;
}
