// Color variables
@bg-color: #151718;
@secondary-bg-color: hsl(0, 0%, 0%);
@text-color: hsl(219, 22%, 66%);
@border-color: hsl(214, 100%, 50%);
@title-bar-height: 2.5em;

// Fonts
@monospace: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
@sans-serif: 'Helvetica Neue', Helvetica, sans-serif;
@small-font: .8rem;

// Mixins
