@import 'styles/normalize.less';
@import 'styles/variables.global.less';
@import 'styles/scrollbar.less';
@import 'styles/workspace.less';
@import 'styles/terminal.less';
@import 'styles/modules.less';
@import 'styles/sidebar.less';
@import 'styles/editor.less';
@import 'styles/theme.less';

* {
	box-sizing: border-box;
}
body {
	background: #000;
	display: block;
	margin: 0;
	min-height: 100vh;
	overflow: hidden;
	font-family: normal;
	height: 100vh;
	width: 100vw;
}
::-webkit-input-placeholder {
	color: @text-color;
}
.directory-bar {
	background: #000;
	bottom: 0;
	color: @text-color;
	font-family: "Fira Code", "Hack", "Meslo LG S for Powerline", "Menlo", monospace;
	font-size: 14px;
	height: 20px;
	padding-bottom: 3px;
	padding-top: 3px;
	position: fixed;
	width: 100vw;
	.octicon.octicon-file-directory {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.open-directory {
	visibility: hidden;
	height: 0;
	width: 0;
}
